# Ignore virtual environment directory
venv/
to_xml_fun/
response_decorator/

# Ignore Python bytecode compiled files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore .idea
.idea/
.idea

# Ignore coverage reports
.coverage

# Ignore db_check.py in the root repository
/db_check.py
.db_check.py
.notes_on_app_creation.txt
/notes_on_app_creation.txt
notes_on_app_creation.txt